<html>
  <head>
    <title>Pokemon?</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>Pokedex</h1>
    <nav>
      <a href="/pokemon">List of Pokemon in yer Pokedex</a>
    </nav>
    <%= yield %>
  </body>
</html>
